

.hamburger {
    background: none;
    display: none;
    cursor: pointer;
    border: none;
    position: absolute;
    width: 60px;
    height: 60px;
    right: 2%;
    top: 36px;
    outline: none;
    &:hover {
        .hamburger__element {
            background-color: $white;
        }
    }
}


.hamburger__element {
    width: 40px;
    height: 2px;
    background-color: $logo;
    display: block;
    margin:  10px  auto;
    margin-right: 6px;
}



@media (max-width: 680px) {
    .hamburger {
        display: block;
    }
    .hamburger--active {
        top: 36px;
        position: absolute;
        z-index: 1;
        .hamburger__element {
            margin: -2px auto;
            background-color: #ccc;
            &:nth-child(1) {
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                transform: rotate(-45deg);
            }
            &:nth-child(3) {
                display: none;
            }
           
        }
        &:hover {
            .hamburger__element {
                background-color: #898a8b;
            }
        }
    }
}
@media (max-width: 340px) {
    .hamburger {
        right: 14px;;
    }
    .hamburger--active {
        right: 14px;
    }
}
