.header { 
    background: url(../img/image.jpg) center center no-repeat;
    background-size: cover;
    padding: 10px 0 250px 0;
    position: relative;
    &::after {
        content: "";
        background: rgba(0, 0, 0, 0.342);
        top: 0;
        left: 0;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
    }
}

.header__wrap {
    display: flex;
    justify-content: space-between;
}
.header__nav {
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;

}
.header__logo {
    display: flex;
    align-items: center;
    z-index: 2;
    
}

.logo__img {
    width: 80px;
    height: auto;

}

.logo__name {
    color: $white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    margin-left: 20px;
}
.header__menu {
    display: flex;
    justify-content: flex-end;
    li {
        padding: 20px;
        list-style: none;
    }
    a {
        text-decoration: none;
        color: $white;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 20px;
        &:hover {
            color: white;
        }
    }
    
}
.header__quote  {
    max-width: 900px;
    margin: 250px auto;
    position: relative;
    z-index: 2;
    p {
        font-size: 30px;
        color: $white;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
    }
    span {
        display: block;
        margin: 0 auto;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 300;
        text-align: center;
        color: $white;
        letter-spacing: 1.2;
    }
}
@media (max-width: 980px){
    .header {
        padding: 10px 0 150px 0;
    }
    
    .header__quote  {
      width: 96%;
      padding-left: 2%;
      padding-right: 2%;
        p {
            font-size: 25px;
            
        }
    }
}
@media (max-width: 680px)  {
    
    .header__logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
    }


    .header__quote  {
        max-width: 900px;
        margin: 180px auto 120px;
        p {
            margin-bottom: 30px;
        }
    }

}

@media (max-width: 340px) {
    .header__wrap {
        min-width: 0;
    }
    .logo__name {
   
        margin-left: 5px;
    }
}
