.header { 
    background: url(../img/image.jpg) center center no-repeat;
    background-size: cover;
    padding: 10px 0 250px 0;
    position: relative;
    &::after {
        content: "";
        background: rgba(0, 0, 0, 0.342);
        top: 0;
        left: 0;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
    }
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 3;
}


.header__logo {
    display: flex;
    align-items: center;
    z-index: 2;
    
}

.logo__img {
    width: 80px;
    height: auto;

}

.logo__name {
    color: $white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    margin-left: 20px;
}


.header__menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
    order: 2;
    .menu__element {
        transition-duration: 500ms;
        transition-property: background-color;
        padding: 0 20px;
        list-style: none;
    }
    .menu__link {
        text-decoration: none;
        
        &:focus {
            color: $logo;
        }
    }

    a {
        text-decoration: none;
        color: $white;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 20px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        padding-bottom: 5px;
        &:hover {
            border-bottom: 1px solid $logo;
        }
    }
}


.header__lang {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    order: 3;
    a {
        text-decoration: none;
        color: $white;
        border-bottom: 1px solid transperant;
        display: block;
        &:active, &:hover {
            border-bottom: 1px solid #e74c3c;
            span {
                color: #e74c3c;
                
            }
        }
        &:first-child {
            margin-right:0;
            padding-right: 0;
         
        }
        &:last-child {
            margin-left: 5px;
        }
        span {
            font-size: 20px;
            color: $white;
        }
        .lang__divider {
            margin-left: 5px;
            border-right: 2px solid $white;
            line-height: 1;
            font-size: 14px;
        }
    }
}
.header__quote  {
    max-width: 900px;
    margin: 250px auto;
    position: relative;
    z-index: 2;
    padding-right: 0;
    padding-left: 0;
    p {
        font-size: 30px;
        color: $white;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
    }
    span {
        display: block;
        margin: 0 auto;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 300;
        text-align: center;
        color: $white;
        letter-spacing: 1.2;
    }
}





@media (max-width: 980px){
    .header {
        padding: 10px 0 150px 0;
    }
    
   
    .header__quote  {
      width: 96%;
      padding-left: 2%;
      padding-right: 2%;
        p {
            font-size: 25px;
            
        }
    }
}
@media (max-width: 680px)  {
    .header__wrap {
        padding: 0 10px;
    }
    .header__logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        img {
            width: 60px;
        }
        .logo__name {
            margin-left: 5px;
        }   
    }
    .header__lang {
        margin-left: -20px;
        order: 2;
    }
    
    .header__menu {
        margin-top: 10px;
        justify-content: center;
        padding-left: 0;
        order: 3;
        margin: 0 auto;
        display: none;
    
    }

    .menu__element {
        padding: 20px 20px;
        a {
            padding: 5px 0;
          
        }
  
    }  


    .header__quote  {
        max-width: 900px;
        margin: 180px 0 80px;
        p {
            margin-bottom: 30px;
        }
    }

}

@media (max-width: 480px)  {

    .header__quote  {
        margin: 145px 0 125px;
        p {
            margin-bottom: 20px;
            font-size: 20px;
        }
        span {
            display: 16px;
        }
    }

}

@media (max-width: 340px) {
    .header__wrap {
        min-width: 0;
    }
    .logo__name {
   
        margin-left: 5px;
    }
}
