.menu {
    position: relative;
   }

.menu__list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
.menu__element {
    padding: 10px;
    transition-duration: 500ms;
    transition-property: background-color;
}
.menu__link {
    text-decoration: none;
    color: #ccc;
    
    &:focus {
        color: $logo;
    }
}



@media (max-width: 680px) {
    .menu {
        position: relative;
        top: -20px;
        right: -15px;
    }


  
    .menu__list {
       display: none;
    }
    .menu__list--active {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 14px;
        right: 87px;
        z-index: 3;
        a {
            padding-bottom: 100px;
            padding-left: 0;
        }
    }
    
}

@media (max-width: 500px) {

    .menu__list--active {
        align-items: flex-end;
        position: absolute;
        top: 66px;
        right: 0px;
        z-index: 3;
        a {
            padding-bottom: 100px;
            padding-left: 0;
        }
    }
    
}
@media (max-width: 500px) {

    .menu__list--active {
        align-items: flex-end;
        position: absolute;
        top: 66px;
        right: 18px;
        z-index: 3;
        a {
            padding-bottom: 100px;
            padding-left: 0;
        }
    }
    
}


