$black: #000;
$white: #fff;

$primary: #3D506F;
$secondary: #00C7FC;
$accentColor: #17BC9C;
$hover: #425ba1;

$mainColor: #161F32; /* btn */
$textColor: #7F90A5;
$lineColor: #535E75;



$bgBanner: #1C2537;

$bgDarken: #142735;

$bgDarkenMix: #11343a;

$bgFooter: #181A26;


