$black: #000;
$white: #fff;
$red: #F56D6D;

$bg: #E9EAE2;
$bgThree: #DFE0D9;
$bgFour: #F7F7F3;
$bgSix: #EAEAEA;
$bgEighht: #FCFCFC;
$bgNine: #CECECE;

$primary: #7BCBC1;
$secondary: #EBB240;
$secondActive: #f8c255;
$third: #FF9B6D;
$thirdHover:#FD5000;
$four: #d4edbf;

$borderColor: #E9EAE2;



$textColor: #333333;



