.contact {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $bg;
}

.contact__block {
    display: flex;
    justify-content: space-between;
}
.contact__item {
    width: 288px;
    background-color: $white;
    text-align: center;
    position: relative;
    img {
        width: 100%;
    }
}

.contact__icon {
    position: absolute;
    z-index: 2;
    left: 44%;
    top: 25%;
   /*  transform: translateY(-42%); */
    fill: $white;
    width: 42px;
    height: 28px;
    transition: 0.3s;
    &:hover {
        fill: $accent_color;
    }

}
.contact__info {
    color: $color_text;
}

.contact__title {
    color: #464646;
}

@media (max-width: 768px) {

    .contact__block {
        flex-direction: column;
        align-items: center;
    }
    .contact__item {
        width: 90%;
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}