
.details {
    background-color: #F3F3F3;
    padding-top: 75px;
    padding-bottom: 75px;
}

.title {
    font-size: 20px;
    color: $color_title;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2.6px;
    text-align: center;
}

.subtitle {
    font-size: 14px;
    color: $color_text;
    line-height: 24px;
    text-align: center;
    max-width: 457px;
    display: block;
    margin: 0 auto;
    margin-bottom: 60px;
    padding-left: 0.3%;
    padding-right: 0.3%;
   
}

.details__icons__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 220px;
    margin: 0 auto;
}
.details__circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $color_text;
    position: relative;
    &:hover {
        background-color: $accent_color;
    }
}

.details__icon {
    height: 25px;
    width: 28px;
    position: absolute;
    top: 50%;
    transform: translateY(-42%);
    left: 22%;
    fill: $white;
  
}

.details__icon--mouse {
    height: 35px;
    transform: translateY(-54%);
}

.details__info {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    
}

.details__info__title {
    font-size: 20px;
    color: $color_title;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 2.6px;
   
}
.details__info__text {
    font-size: 16px;
    color: $color_text;
    line-height: 28px;
    text-align: justify;
}
.text__accent {
    color: $accent_color;
    font-weight: 700;
}
.text__bold {
    font-weight: 700;
    color: $bold;
}
.details__info--left {
    flex-basis: 30%;
}
.details__info__text--right {
    margin-top: 52px;
    flex-basis: 50%;
}

@media (max-width: 768px) {
    .details {
        padding-top: 70px;
        padding-bottom: 70px; 
    }
    .details__info {
        flex-direction: column;
    }

    .details__info__text--right {
        margin-top: 0;
        flex-basis: 90%;
    }
    .details__info__title {
        text-align: center;
    }
}
@media (max-width: 480px) {
    .details {
        padding-top: 50px;
        padding-bottom: 50px; 
    }
}