.intro {
    
    text-align: center;
    padding-top: 190px;
    padding-bottom: 400px;
    
}
.intro__title {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 35px;
    color: $white;
    letter-spacing: 10px;
    text-transform: uppercase;
}
.intro__text {
    font-size: 16px;
    color: $white;
    letter-spacing: 1.2px;
    line-height: 30px;

    max-width: 604px;
    display: block;
    margin: 0 auto;
}
@media (max-width: 480px) {
    .intro {
        padding-top: 100px;
        padding-bottom: 300px;
    }
}


@media (max-width: 338px) {
    .intro__title {
        font-size: 35px;
        letter-spacing: 5px;
    }
    .intro__text {
        margin-left: 0;
        margin-right: 0;
    }
}