$white: #fff;
$black: #000;
$gray: #555555;

$primary: #252525;
$second: #E5493A;
$thirty: #8DC63F;

$circle-bg: #363636; 

$bg: #202020;
$line-color: #2f2f2f;
$textColor: #464646;
$descr-color: #959595;

