
.banner {
    background: url(../img/bg.png)  center center no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 250px;
    padding-bottom: 250px;
    
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: #14273593;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
}

.banner__info {
    background-color: rgba(28, 37, 55, 0.8);
    display: block;
    padding-bottom: 75px;
    position: relative;
    z-index: 2;
}



.banner__title {
    font-size: 50px;
    font-family: 'vivaldi';
    text-align: center;
    color: $white;
    padding-top: 60px;
}
.banner__divider {
    @include divider($line: $white);
}
.banner__descr {
    display: block;
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    color: $white;
}
.banner__btn {
    @include btn($bg: transparent) {
        border: 1px solid $white;
        display: block;
        margin: 20px auto;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        
    }
}
@media (max-width: 980px) {
  .banner {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
@media (max-width: 768px) {
    .banner {
      padding-top: 100px;
      padding-bottom: 100px;
    }
}
@media (max-width: 480px) {
    .banner {
      padding-top: 50px;
      padding-bottom: 80px;
    }
    .banner__info {
        padding-bottom: 35px;
    }
    .banner__title {
    
        padding-top: 30px;
    }
}