.divider {
    @include divider();
}
.banner__divider {
    @include divider($line: $white);
}
.customers__divider {
    @include divider($line: $white);
}

@media (max-width: 768px) {
    
    .divider {
        width: 7px;
        
        p { 
            &::after {
            width: 7px;
            height: 7px;
            }
        }
        
        &::after, &::before {
            width: 80px;
            height: 1px;
        }
        
        &::before {
            left: -90px;
        }
        &::after {
            right: -90px;
        }
    }
}