.header {
    padding-bottom: 30px;
}
.header__wrap {
    display: flex;
    justify-content: space-between;
    
}

.header__logo {
    text-decoration: none;
    font-family: 'vivaldi';
    color: $mainColor;
    font-size: 50px;
    padding-top: 20px;
    padding-left: 20px;
}


