.menu {
    position: relative;
    width: 900px;
   
    
}

.menu__list {
    list-style: none;
    display: none;
    padding-top: 20px;
}
.menu__element {
    padding: 10px;
    transition-duration: 500ms;
    transition-property: background-color;
    &:last-child {
        margin-right: 100px;
    }
 
 
}
.menu__link {
    text-decoration: none;
    color: $mainColor;
    text-transform: uppercase;
    font-weight: 600;
    &:focus {
        color: $secondary;
    }
    &:hover {
        color: $hover;
    }
}

.menu__list--active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 15px;
  

}

@media (max-width: 768px) {
    .menu__list--active {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background: rgba(28, 37, 55, 0.931);
        z-index: 3;
        margin-top: 0;
       
     
            
        .menu__element {
            margin-top: 25px;
            padding: 20px 0;
          
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                text-align: center;
                vertical-align: center;
                .menu__link {
                    color: $secondary; 
                }
                
            }
          
        }
        .menu__link {
            color: $white;
        }
    }
   
}

@media (max-width: 580px) {
  
    .menu__list--active {
        align-items: center;
    }
}


