.menu {
    position: relative;
    width: 900px;
    
}

.menu__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    display: none;
   
}
.menu__element {
    &:last-child {
        margin-right: 200px;
    }
}
.menu__link {
    text-decoration: none;
    color: $mainColor;
    text-transform: uppercase;
    font-weight: 600;
}

.menu__list--active {
  display: flex;
}
