$black: #000;
$white: #fff;

$logo: #e6cccc;

$bg: $white;
$white-gray: #e5e5e5;
$lightGay: #b6b6b6;
$dividerColor: #999999;
$accentColor: #fab88c;
$titleColor: #353439;
$quoteColor: #5d5d5d;
$quoteColorThree: #818080;
$quoteColorTwo: #4b4a4a;
$red: #E74C3C;

$textColor: #353739;
$bgReadMobile: #fff0e3e3;


