.become__block {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}
.become__video {
    flex-basis: 40%;
}
.become__prosa {
    flex-basis: 40%;
}

@media (max-width: 1400px) {
    .become__block {
        display: flex;
        justify-content: space-between;
    }
    .become__video {
        flex-basis: 50%;
    }
    .become__prosa {
        flex-basis: 50%;
    }
    iframe {
        width: 640px;
        height: 385px;

    }
}
@media (max-width: 1150px) {
    .become__block {
        display: flex;
        justify-content: space-between
    }
    .become__video {
        flex-basis: 40%;
    }
    .become__prosa {
        flex-basis: 40%;
    }
    iframe {
        width: 560px;
        height: 340px;
    }
}
@media (max-width: 980px) {
    .become__block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .become__video {
        flex-basis: 100%;
    }
    .become__prosa {
        flex-basis: 100%;
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
    iframe {
        width: 100vw;
        height: 340px;
    }
}


@media (max-width: 400px) {
    iframe {
        width: 100vw;
    }
    .become__block {
        margin-bottom: 30px;
    }
}