.header {
    background: url(../img/bg.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
    height: 1000px;
    
}

@media (max-width: 1500px) {
    .header { 
      height: 700px;
    }
   
}

@media (max-width: 980px) {
    .header {
       height: 500px;
    }
  
}

