.title__prosa {
    margin-bottom: 0;
}
.prosa {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.5px;
    line-height: 24px;
    margin-right: 0;
}

.prosa__divider {
    width: 30%;
 
    margin: 0 auto;
    display: block;
   
    margin-top: -30px;
    svg {
      
    }
}

.prosa__divider--down {
    width: 7%;
  
    display: block;
    margin: 0 auto;
}


@media (max-width: 1400px) {
    .prosa__divider {
        width: 40%;
    }
    .prosa__divider--down {
        width: 10%;
    }
}
@media (max-width: 1150px) {
    .prosa__divider {
        width: 50%;
    }
    .prosa__divider--down {
        width: 15%;
    }

}
@media (max-width: 980px) {
    .prosa__divider {
        width: 60%;
    }
    .prosa__divider--down {
        width: 20%;
    }
    .prosa {
       margin-left: 10px;;
    }
}

@media (max-width: 768px) {
    .prosa__divider {
        width: 70%;
    }
    .prosa__divider--down {
        width: 25%;
    }
}


@media (max-width: 400px) {
    .prosa__divider {
        width: 90%;
    }
    .prosa__divider--down {
        width: 25%;
    }
    .title__prosa {
       margin-top: 30px;
    }
  
}