.ten__block {
    display: flex;
    justify-content: center;
}

.ten__poem {
    flex-basis: 50%;
    background: url(../img/paper.png) center center;
    border-right: transparent;
    box-shadow: 0 18px 54px rgba(145, 113, 73, 0.25), 0 20px 23px rgba(46,29,15,1.363);
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
    z-index: 1;
  
}
.poem--ten {
    margin-top: 50px;
}

.ten__img {
    flex-basis: 50%;
    margin-left: -80px;
    margin-top: 40px;


    img {
        width: 100%;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
}
.ten__divider--down {
    margin: 0 auto;
    margin-top: 0;
    text-align: center;
    width: 300px;
    display: block;
}


@media (max-width: 1000px) {

    .ten__block {
        flex-direction: column;
        align-items: center;
    }
    .ten__poem {
      width: 95%;
     
      margin-bottom: -20px;
      z-index: 2;
    }
  
    .ten__img {
        width: 95%;
        margin-left: 0;
        margin-top: 0;
       
    }
}
@media (max-width: 480px) {
    .title--ten {
        margin-bottom: 40px;
    }
    .ten__divider {
        width: 90%; 
    }
    .ten__divider--down {
        margin: 0 auto;
        margin-top: -30px;
        width: 90%;
      
    }
    .poem--ten {
        margin-left: 20px;
        margin-right: 10px;
    }
    .ten__poem {
        width: 100%;
    }
}
