* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}
.promo {
    width: 100vw;
    background: url(../img/bgd.jpg) center center/cover no-repeat;
    padding: 39px 0 62px 0;
}
.wordpress_icon {
    height: 75px;
    width: 75px;
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    color: #fff;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
}

.subtitle-up {
    margin-top: 53px;
}
.subtitle {
    color: #3ab6da ;
    font-family: "Roboto";
    font-size: 41px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}
.title {
    color: #fff;
    font-family: "Roboto";
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    margin-top: 25px;
}
.subtitle-down {
    margin-top: -23px;
}

.promo_btn {
    display: block;
    margin: 0 auto;
    margin-top: 130px;
    width: 180px;
    height: 70px;
    box-shadow:  0 0 0 rgba(0, 0, 0, 0.18);
    border: 3px outset  rgba(136, 172, 197, 0.808);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    color: #fff;
    font-family: "Roboto Condended";
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
.more {
    margin-top: 110px;
}
.more .more-text {
    color: #fff;
    font-family: "Roboto-Thin", "AdobeInvisFont", "MyriadPro-Regular";
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.arrow {
    display: block;
    fill: #fff;
    height: 30px;
    width: 30px;
    transform: rotate(90deg);
    margin: 0 auto;
    margin-top: 6px;
}

/* Content */
.content_img {
    width: 150px;
    height: 100px;
}
.content {
    min-height: 604px;
    background-color: #EFEFEF;
    padding: 85px 0 75px 0;
}
.content_header, .finish_title {
    color: #000;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;

}
.content_divider, .finish_divider {
    margin: 0 auto;
    margin-top: 20px;
    width: 217px;
    height: 3px;
    background-color: #028cb0;
}
.content_subheader {
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
}
.content_wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}
.content_item {
    width: 339px;
    text-align: center;
    vertical-align: top;
}
.content_item {
    color:  #028cb0;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 700;
    line-height: 40px;
}
.content_img {
    margin-top: 30px;
    width: 100%;
}
.content_descr {
    margin-top: 35px;
    color: #000;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    padding: 0 20px;
}



/* .optimization */

.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;
}
.optimization_title {
    margin-left: 30vw;
    color:  #028cb0;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
}
.optimization_text {
    margin-top: 40px;
    margin-left: 30vw;
    width: 50%;
    color:  #000;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
}
.optimization_img {
  position: absolute;
  top: 100px;
  width: 50%;
  margin-left: -80px;
}
/* Finish */
.finish {
    min-height: 450px;
    padding: 86px 0;
    background: url(../img/fin.jpg) center center/cover no-repeat;
}
.finish_title {
    color: #fff;
}
.finish_wrap {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.finish_item {
    width: 200px;
}
.finish_icon {
    width: 116px;
    height: 116px;
  
}
.finish_round{ 
    margin: 0 auto;
    display: flex; /* сркруглити, якщо потрібно  і вирівняти */
    justify-content: center;
    align-items: center;
    width: 118px;
    height: 118px;
    background: transperent;
    border-radius: 100%;
}
.finish_descr {
    margin-top: 25px;
    text-align: center;
    color:  #fff;
    font-family: "Roboto";
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}

/* bonus */
.bonus {
    text-align: center;
    background-color: #efefef;
    padding-bottom: 87px;
}
.bonus_title {
    padding-top: 87px;
    color:  #028cb0;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
}
.bonus_img {
    margin-top: 45px;
}
.bonus_text {
    margin-top: 42px;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 300;
}
.bonus_btn {
    margin-top: 40px;
   
}

/* webinar */
.webinar {
    margin: 100px 0;
    text-align: center;
}
.webinar_subtitle {
    margin-top: 40px;
    color: #1a1a1a;
    font-family: "Roboto";
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}
.webinar_title {
    margin-top: 20px;
    color: #028cb0; 
    font-family: "Roboto";
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}
.webinar_text {
    margin-top: 15px;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 300;
}
/* footer */
footer {
    background-color: #1a1a1a;
    height: 150px;
    text-align: center;
}
.footer_link {
    display: inline-block;
    padding-top: 45px;
    text-decoration-color: #888888;
    color: #888888;
    font-size: 17px;
    
}
.footer_link span {
    padding-left: 5px;
}
.footer_text {
    padding-top: 15px;
    color: #888888;
    font-size: 17px;
}

/* @MEDIA */
@media (max-width: 1650px) {
    .optimization_img {
      margin-left: -180px;
    }
}
@media (max-width: 1300px) {
    .optimization_img {
      margin-left: -120px;
    }
    .optimization_text {
        margin-left: 44vw;
    }
    .optimization_title {
        margin-left: 44vw;
    }
}
@media (max-width: 1300px) {
    .optimization_img {
      margin-left: -80px;
    }
    .optimization_text {
        margin-left: 44vw;
    }
    .optimization_title {
        margin-left: 44vw;
    }
}
@media (max-width: 1150px) {
    .container {
        width: 100vw;
        margin: 0 auto;
        position: relative;
    }
    .content_img {
        width: 100px;
        height: 70px;
    }
    .content_wrap {
    
        margin-top: 45px;
    }
    .content_item {
        width: 339px;
        text-align: center;
        vertical-align: top;
    }
@media (max-width: 900px) {
    .optimization_img {
        margin-left: -65px;
    }
}
@media (max-width: 750px) {
    .optimization_img {
        margin-left: -60px;
    }
}
@media (max-width: 700px) {
    .optimization_img {
        display: none;
        
    }
    .optimization_text {
        padding: 20px;
        width: 100%;
        margin-left: 10px;
        text-align: center;
    }
    .optimization_title {
        padding: 20px;
        margin-left: 10px;
        text-align: center;
    }
    
    .content_wrap {
        display: flex;
        flex-direction: column; 
        align-items: center;
    }
    .content_item {
        width: 339px;
        text-align: center;
        vertical-align: top;
        margin-top: 30px;
    }
    .finish_wrap {
        margin-top: 40px;
        flex-direction: column; 
        align-items: center;
    }
    .finish_item {
        margin-top: 30px;
    }

}
@media (max-width: 400px) {
    .subtitle {
        font-size: 30px;
    }
    .title {
        font-size: 50px;
        line-height: 50px;
    }
    .webinar_subtitle {
        font-size: 20px;
        line-height: 30px;
    }
    .webinar_title {
        font-size: 30px;
        line-height: 30px;
    }
}