.btn {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background: $main-color; /* linear-gradient(to top left, #870000, #93291E); */
    border: none;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    border: 1.5px solid rgba(34, 33, 30, 0.048);
    cursor: pointer;
    &:hover {
        background: linear-gradient(to top left, #a73737, #7a2828);
    }
    &_main {
        margin-top: 67px;
        width: 250px;
        height: 50px;
        font-size: 16px;
    }
    &_submit {
        width: 100%;
        height: 50px;
        font-size: 16px;
    }
    &_mini {
        width: 131px;
        height: 40px;
        font-size: 14px;
    }
}