.try {
    padding-bottom: 50px;
}

.try__block {
    display: flex;
    justify-content: space-between;
}
.try__info {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #5E6A89;
}

.try__btn {
    
    @include btn($blue_gr, #2170D3)
    &:hover {
        color: #5E6A89;
    }
}

@media (max-width: 950px) {
    .try__block {
        flex-direction: column;
        align-items: center;
    }
    .try__info  {
        margin-bottom: 40px;
    }
}