.slider-banner__item {
   position: relative;
   &:after {
       position: absolute;
        content: '';
        background-color: hsla(224, 53%, 10%, 0.26);
        display: block;
        height: 100%;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
      
   }
}

.title {
    
    font-family: 'Mirza', cursive;
/*     font-family: 'MedievalSharp', cursive;  */
    font-weight: 700;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    left: 10%;
    right: 5%;
    color: #ddd0cd;
    text-shadow: 0 1px #111e26, -1px 0 #82899b, -1px 2px #111e26, -2px 1px #82899b, -2px 3px #111e26, -3px 2px #82899b, -3px 4px #111e26, -4px 3px #82899b, -4px 5px #111e26, -5px 4px #82899b, -5px 6px #111e26, -6px 5px #82899b, -6px 7px #111e26, -7px 6px #82899b, -7px 8px #111e26, -8px 7px #82899b;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 140px;
    margin: 0 auto;
    z-index: 2;
}

.title_warm {
    left: 15%;
    color: #ddd0cd;
    text-shadow: 0 1px #151513, -1px 0 #4a4a40, -1px 2px #151513, -2px 1px #4a4a40, -2px 3px #151513, -3px 2px #4a4a40, -3px 4px #151513, -4px 3px #4a4a40, -4px 5px #151513, -5px 4px #4a4a40, -5px 6px #151513, -6px 5px #4a4a40, -6px 7px #151513, -7px 6px #4a4a40, -7px 8px #151513, -8px 7px #4a4a40;;

}
@media (max-width: 768px) {
    .title {
        font-size:  90px;
    }
    .slider-banner__img {
        height: 100vh;
    }
}

@media (max-width: 480px) {
    .title {
        font-size:  60px;
    }
}
