.hamburger {
    background: none;
    display: block;
    cursor: pointer;
    border: 3px solid $borderColor;
    transition-property: border-color;
    transition-duration: 500ms;
    &:hover, &:active {
        border-color: $secondActive;

        .hamburger__element {
            background-color: $secondActive;
            transition-property: background-color;
            transition-duration: 500ms;

            &::before, &::after {
                background-color: $secondActive;
                transition-property: background-color;
                transition-duration: 500ms;

            }
        }
    }
    &:focus {
        border-color: $secondActive;
    }
}

.hamburger--active {
    position: relative;
    z-index: 1;
    border-color: $secondActive;

    &:hover, &:active {
        border-color: $secondActive;

        .hamburger__element {
            background-color: $borderColor;
           

            &::before, &::after {
                background-color: $borderColor;
            }
        }
    }
    .hamburger__element {
        transform: rotate(45deg);
        &::after {
            transform: rotate(-90deg);
            position: relative;
            z-index: 1;
        }
        &::before {
            display: none;
        }

    }
}

.hamburger__element {
    width: 40px;
    height: 3px;
    background-color: $borderColor;
    display: block;
    margin: 0 auto;

  

    &::before, &::after {
        content: '';
        width: 40px;
        height: 3px;
        background-color: $borderColor;
        display: block;
        margin: 0 auto;
    }
    &::before {
        transform: translateY(8px);
    }
    &::after {
        transform: translateY(-11px);
    }
}