@font-face {
  font-family: 'Marck Script', cursive;
  font-family: 'Caveat', cursive;
  font-family: 'Neucha', cursive;
  font-family: 'Bad Script', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-family: 'Forum', cursive;
  font-family: 'Pangolin', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
}

