$black: #000;
$white: #fff;
$logoColor: #fce1d6;
$mainColor2: #342931;
$mainColor3: #22183f;
$gold:  #d18941;

$mainColor: #2d334d;
$mainColor2: #342931;
$mainColor3: #22183f;

$mainColor4: #111930;
$bg: #f0e6db;
$dividerOrigin: #ffe4a2;



