

.hamburger {
    background: none;
    display: block;
    cursor: pointer;
    border: none;
    position: absolute;
    width: 60px;
    height: 60px;
    right: 6px;
    top: 4px;
}


.hamburger__element {
    width: 40px;
    height: 4px;
    background-color: $mainColor;
    display: block;
    margin:  10px  auto;
   }

.hamburger--active {
    position: absolute;
    z-index: 1;
    .hamburger__element {
        margin: -4px auto;
        &:nth-child(1) {
            transform: translateX(5px);
            transform: rotate(45deg);
            
          
        }
        &:nth-child(2) {
            transform: rotate(-45deg);
        }
        &:nth-child(3) {
            display: none;
        }
    }
}