.menu {
    position: relative;
    width: 900px;
}

.menu__list {
    list-style: none;
    display: none;
}
.menu__element {
    &:last-child {
        margin-right: 100px;
    }
}
.menu__link {
    text-decoration: none;
    color: $mainColor;
    text-transform: uppercase;
    font-weight: 600;
}

.menu__list--active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

@media (max-width: 768px) {
    .menu__list--active {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        height: 100vw;
        .menu__element {
            
            &:last-child {
                margin-right: 0;
            }
        }
        
    }
   
}

@media (max-width: 580px) {
  
    .menu__list--active {
        margin-top: 60px;
        align-items: center;
    }
}

@media (max-width: 480px) {
  
    .menu__list--active {
        margin-top: 60px;
    }
}
