@charset "UTF-8";

/**
 * Основные стили
 **/

/*  * {
	 box-sizing: border-box;
 } */
html {
	font-size: 16px;
	color: $black;
}

body {
	font-family: 'Open Sans', sans-serif;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.container {
	@include min-max(0%, 100%, 0%);
}

.wrap {
	@include min-max(0, 1920px, 10px);
}



