@font-face {
  font-family: 'vivaldi';
  src: url('../fonts/vivaldi.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Italianno', cursive;
  font-family: 'Tangerine', cursive;
  src: url('https://fonts.googleapis.com/css?family=Italianno|Tangerine&display=swap&subset=latin-ext');
  font-style: cursive;
}



